/* #region common rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --z-black: #000000;
    --z-white: #FFFFFF;
    --z-firstgrey: #4A4A4A;
    --z-secondgrey: #222222;
    --z-green: #4BC800;
    --z-red: #D11313;
}

img {
    max-width: 100%;
}
/* #endregion common rules */

/* #region utility */
.row {
    display: flex;
    gap: 5px;
}

.container {
    width: 90%;
    margin: auto;
}
/* #endregion utility */

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--z-black);
}

/* #region colonne */
.col_1 {
    width: calc((100% / 12) * 1)
}

.col_2 {
    width: calc((100% / 12) * 2)
}

.col_3 {
    width: calc((100% / 12) * 3)
}

.col_4 {
    width: calc((100% / 12) * 4)
}

.col_5 {
    width: calc((100% / 12) * 5)
}

.col_6 {
    width: calc((100% / 12) * 6)
}

.col_7 {
    width: calc((100% / 12) * 7)
}
/* #endregion colonne */

/* #region banner */
.top_control {
    display: flex;
    color: var(--z-white);
    justify-content: flex-end;
    padding: 10px;
    font-size: 12px;
}

.top_control span {
    margin: 0 10px 0 10px;
    padding: 0 5px 0 5px;
    background-color: var(--z-firstgrey);
    border-radius: 5px;
}

.fa-maximize {
    background-color: var(--z-firstgrey);
    font-size: 10px;
    padding: 3px;
    border-radius: 5px;
}
/* #endregion banner */

/* #region main */
main {
    color: var(--z-white);
}

.img_profile{
    display: flex;
}

.user {
    margin-right: 110px;
    position: relative;
    bottom: 30px;
    font-size: 10px;
    background-color: rgba(128, 128, 128, 0.478);
}
/* #endregion main */

footer {
    background-color: var(--z-secondgrey);
    color: var(--z-white);
}

.fa-angle-up {
    font-size: 8px;
}

.footer_button {
    text-decoration: none;
    color: var(--z-white);
    width: 25px;
}

.footer_button:hover {
    cursor: pointer;
}

.button_text {
    color: var(--z-white);
    font-size: 10px;
}